.collaborator {
  width: 280px;
  position: relative;
}

.collaborator .header {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}
.collaborator img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.collaborator .footer {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.collaborator .footer h4 {
  line-height: 22px;
  margin-bottom: 8px;

  font-family: "Montserrat", sans-serif;
  color: #6278f7;
  font-size: 18px;
  font-weight: 600;
}

.collaborator .footer h5 {
  margin: 0;
  padding: 0 16px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}

.delete {
  position: absolute;
  right: -10px;
  top: -10px;
}

.favorites {
  margin-top: 10px;
}
