.team {
  text-align: center;
  padding: 32px;
}

.team h3 {
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;

  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 32px;
  color: #212121;
}

.team .collaborators {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
